<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pero.fesb.hr.werewolfandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JoinGameActivity"
            android:label="Join Game">
        </activity>
        <activity
            android:name=".CreateGameActivity"
            android:label="Create Game">
        </activity>
        <activity
            android:name=".LobbyActivity"
            android:label="Lobby">
        </activity>
        <activity
            android:name=".ShowRolesActivity"
            android:label="Lobby">
        </activity>
    </application>

</manifest>